html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    background-color: #202040;
    width: 100%;
    height: 6%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #323242;
}

.navbar_menu_button {
    background-color: transparent;
    width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar_menu_button:hover {
    background-color: #3d3d6c;
    transition: ease 0.2s;
}

.menu_button_decoration_component_1 {
    background-color: #F4F4FC;
    width: 35px;
    height: 4px;
    border-radius: 10px;
}

.menu_button_decoration_component_2 {
    background-color: transparent;
    width: 35px;
    height: 4px;
}

.signed_in_person_name {
    font-size: x-large;
    color: #F4F4FC;
    margin-left: 30px;
    user-select: none;
}

.workplace {
    background-color: #191931;
    width: 100%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.running_platform {
    background-color: #252547;
    width: 97.5%;
    height: 60%;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #F061A4;
    box-shadow: 0 0 10px rgba(240, 97, 164, 0.6);
    display: flex;
    position: relative;
    overflow: hidden;
}

.running_boy {
    background-color: rgba(82, 226, 82, 0.161);
    border: 1px solid rgba(8, 250, 8, 0.185);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.heart {
    background-image: url(./photoes/heart.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
}

.start_button {
    background-color: red;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    background-color: #3d3d6c;
    cursor: pointer;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.speed_store_popup_backer {
    background-color: rgba(1, 1, 1, 0.463);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.speed_store_popup {
    background-color: #3d3d6c;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid #191931;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.speed_store_popup_upper {
    background-color: transparent;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.speed_store_popup_header {
    background-color: transparent;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    user-select: none;
}

.speed_store_popup_body {
    background-color: transparent;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.current_speed_backer,
.new_speed_backer {
    background-color: transparent;
    width: 28%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.current_speed_backer_up,
.current_speed_backer_down,
.new_speed_backer_up,
.new_speed_backer_down {
    background-color: transparent;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
    color: whitesmoke;
    user-select: none;
}

.current_speed_shower_for_upgrade,
.new_speed_shower_after_upgrade {
    background-color: #3d3d6c;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #F061A4;
    box-shadow: 0 0 10px rgba(240, 97, 164, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
    color: whitesmoke;
    user-select: none;
}

.current_speed_active_backer {
    background-color: transparent;
    width: 32%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.speed_active_backer_up,
.speed_active_backer_down {
    background-color: transparent;
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speed_active_backer_down {
    background-image: url(./photoes/arrow_cutout.png);
    background-position: center;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

.speed_upgrade_cost_shower {
    background-color: #3d3d6c;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speed_upgrade_cost_icon {
    background-color: transparent;
    width: 25px;
    height: 25px;
    background-image: url(./photoes/heart.png);
    background-position: center;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

.speed_upgrade_actual_cost {
    background-color: transparent;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    color: whitesmoke;
    user-select: none;
}

.margin_component_304 {
    background-color: transparent;
    width: 3px;
    height: 100%;
}

.speed_store_popup_lower {
    background-color: transparent;
    width: 100%;
    height: 30%;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.confirm_speed_upgrade_button,
.calcel_speed_upgrade_button {
    background-color: whitesmoke;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    cursor: pointer;
    user-select: none;
}

.confirm_speed_upgrade_button {
    background-color: rgb(16, 116, 16);
}

.calcel_speed_upgrade_button {
    background-color: rgb(212, 25, 25);
}

.confirm_speed_upgrade_button:hover,
.calcel_speed_upgrade_button:hover {
    scale: 1.05;
}