.workplace_right_side {
    background-color: #191931;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.right_shop_and_statistic_backer {
    background-color: transparent;
    width: 95%;
    height: 30%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.shopper_image_area {
    background-image: url(./photoes/shopper1.png);
    background-size: 98%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100%;
}

.statistic_aligner_container {
    background-color: transparent;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.statistic_aligner_container_upper {
    background-color: transparent;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.balance_backer {
    background-color: transparent;
    width: 225px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance_shower_backer {
    background-color: #252547;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #D09F1D;
    box-shadow: 0 0 6px rgba(208, 159, 29, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.balance_shower {
    background-color: transparent;
    width: 80%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F4F4FC;
    overflow: hidden;
}

.balance_decoration {
    background-color: transparent;
    background-image: url(./photoes/heart.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center;
    width: 11%;
    height: 100%;
    border-radius: 20px;
}

.statistic_aligner_container_lower {
    background-color: transparent;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.upgrade_buttons_backer {
    background-color: transparent;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.upgrade_buttons_backer_left {
    background-color: transparent;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upgrade_backpack_button,
.upgrade_speed_button,
.upgrade_delay_button,
.upgrade_magnet_button,
.upgrade_lucky_button,
.upgrade_multiple_button {
    background-color: #D09F1D;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    color: #F4F4FC;
    border-radius: 4px;
    transition: ease 0.2s;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(208, 159, 29, 0.6);
}

.upgrade_backpack_button:hover,
.upgrade_speed_button:hover,
.upgrade_delay_button:hover,
.upgrade_magnet_button:hover,
.upgrade_lucky_button:hover,
.upgrade_multiple_button:hover {
    scale: 1.05;
}

.upgrade_buttons_backer_right {
    background-color: transparent;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.speed_shower_box,
.delay_shower_box,
.backpack_shower_box,
.magnet_shower_box,
.luck_shower_box,
.multiply_shower_box {
    background-color: transparent;
    width: 40px;
    height: 28px;
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    border: 1px solid #D09F1D;
    box-shadow: 0 0 6px rgba(208, 159, 29, 0.6);
    user-select: none;
}

.margin_component_206 {
    background-color: transparent;
    width: 80%;
    height: 15px;
}

.margin_component_208 {
    background-color: transparent;
    width: 20px;
    height: 100%;
}

.store_popup_backer_screen {
    background-color: rgba(1, 1, 1, 0.463);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.store_popup_main_card {
    background-color: #3d3d6c;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid #191931;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.store_popup_main_card_upper {
    background-color: transparent;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.store_popup_offer_text {
    background-color: transparent;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    user-select: none;
}

.store_popup_body {
    background-color: transparent;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.current_rate_backer,
.new_rate_backer {
    background-color: transparent;
    width: 28%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.current_rate_backer_up,
.current_rate_backer_down,
.new_rate_backer_up,
.new_rate_backer_down {
    background-color: transparent;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
    color: whitesmoke;
    user-select: none;
}

.current_rate_shower_for_upgrade,
.new_rate_shower_after_upgrade {
    background-color: #3d3d6c;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #F061A4;
    box-shadow: 0 0 10px rgba(240, 97, 164, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
    color: whitesmoke;
    user-select: none;
}

.current_rate_middle_backer {
    background-color: transparent;
    width: 32%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.middle_backer_up,
.middle_backer_down {
    background-color: transparent;
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle_backer_down {
    background-image: url(./photoes/arrow_cutout.png);
    background-position: center;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

.upgrade_cost_backer {
    background-color: #3d3d6c;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upgrade_cost_icon {
    background-color: transparent;
    width: 25px;
    height: 25px;
    background-image: url(./photoes/heart.png);
    background-position: center;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

.margin_component_304 {
    background-color: transparent;
    height: 100%;
    width: 5px;
}

.upgrade_actual_cost_shower {
    background-color: transparent;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    color: whitesmoke;
    user-select: none;
}

.store_popup_main_card_lower {
    background-color: transparent;
    width: 100%;
    height: 30%;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.store_cancel_button,
#store_confirm_button {
    background-color: whitesmoke;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    cursor: pointer;
    user-select: none;
}

#store_confirm_button {
    background-color: rgb(16, 116, 16);
}

.store_cancel_button {
    background-color: rgb(212, 25, 25);
}

.store_cancel_button:hover,
#store_confirm_button:hover {
    scale: 1.05;
}

.speed_button_id,
.backpack_button_id,
.magnet_button_id,
.lucky_button_id,
.multiplier_button_id {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}